/*
Project Name: FEWD Final Project Fall 2015
Client: Brian/Sarah
Author: Ly Pham
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: #f0efef;
  font-size: 1.2em;
  line-height: 1.4;
  color: #606161;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
}

p {
  font-size: .9em;
}

a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
}

nav {
  font-size: 1.4em;
  padding: 10px 35px;
  position:relative;
}

nav ul {
  display: inline-block;
}

nav ul li {
  list-style-type: none;
  float: left;
  margin-left: 80px;
  display: inline-block;
}

nav ul li:first {
  padding-left: 0;
}

nav ul li a:link{
  color: #000;
}

nav ul li a:hover, nav ul li a:visited {
  display:block;
  float: left;
}

nav ul li:hover > a{
  color: #1D3C8E;
  font-weight: 700;
/*  background-color: #1D3C8E; */
  padding: 8px 15px;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  font-size: .8em;
  background: #BEBEBE;
  padding:0;
  text-align: center;
  display:none;
  width: 100%;
  margin: 10px 0;
  position: absolute;
  top: 110px;
  left: 0px;
}

/*li.menu ul {
  display: none;
}

ul.sub-menu {
  font-size: .8em;
  border: 1px solid black;
  display: inline-block;
}*/

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #BFBCDC;
  background-image:  url("/images/MyOVSHIghRes-80.png");
}

.navbar-fixed a:hover, .navbar-fixed a:link {
  color: #FFF;
}

#whatWeDo {
  background-color: #1D3C8E;
  color: #FFF;
  padding: 8px 150px;
  text-align: center;
}

#features {
  padding: 12px;
}

#features div {
  width: 322px;
  height: 322px;
  float: left;
  margin-right: 12px;
}

#features div.last {
  margin-right: 0;
}

#features div span img {
  position: relative;
  width: 100%;
}

.featureHidden {
   color: #FFF;
   text-align: center;
   position: absolute; 
   top: 790px; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

#callToAction {
  background-color: #6EA1BE;
  padding: 20px;
  text-align: center;
}

#callToAction button {
  border: 1px solid #FFF;
  border-radius: 3px;
  background-color: #6EA1BE;
  color: #FFF;
  font-size: 26px;
  padding: 8px;
  margin: 0 auto;
}

#partnerLogos{
  color: #000;
  text-align: center;
}

#contactInfo {
  background-color: #0C153C;
  color: #FFF;
  padding: 20px;
}

#contactInfo div {
  text-align: center;
  width: 436px;
  float: left;
  border-right: 2px solid #FFF;
  height: 259px;
}

#contactInfo div.last {
  border-right: none;
}

footer {
  background-color: #000;
  color: #FFF;
}

footer div#copyright {
  font-size: 14px;
  width: 50%;
  float: left;
  padding: 20px;
}

footer nav {
  width: 50%;
  float: right;
}

footer nav ul li {
  font-size: 14px;
  padding-left: 40px;
}

footer nav ul li:first {
  padding-left: 0;
}


@media screen and (max-width: 1200px){

  #features div {
  width: 280px;
  height: 280px;
  }

  #features div img {
  width: 100%;
  }

  .featureHidden {
   top: 701px; 
  }

  #contactInfo div {
  width: 381px;
  }

  
}

@media screen and (max-width: 992px){
  
  nav {
  font-size: 1em;
  padding: 10px 30px;
  }

  nav ul li {
  padding-left: 20px;
  }

  header span img {

  }

}

@media screen and (max-width: 768px){

  nav {
  font-size: 16px;
  padding: 10px 20px;
  }

  nav ul li {
  padding-left: 30px;
  }

  #features div {
  width: 172px;
  height: 172px;
  }

  .featureHidden {
   top: 572px; 
  }

  #contactInfo div {
  width: 237px;
  }

  footer div#copyright, footer nav ul li{
    font-size: 12px;
    width: 40%;
  }


}

@media screen and (max-width: 480px){

  
}

