/*
Project Name: FEWD Final Project Fall 2015
Client: Brian/Sarah
Author: Ly Pham
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: #f0efef;
  font-size: 1.2em;
  line-height: 1.4;
  color: #606161;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
}

p {
  font-size: .9em;
}

a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
}

/******************************************
/* Navigation
/*******************************************/

header nav {
  font-size: 1.4em;
  padding: 10px 35px;
  position:relative;
}

header nav img {
  width: 22%;
}

header nav ul {
  display: inline-block;
  vertical-align: top;
}

header nav ul li {
  list-style-type: none;
  margin-left: 80px;
  display: inline-block;
}

header nav ul li:first {
  padding-left: 0;
}

header nav ul li a:link, header nav ul li a:active {
  color: #000;
}

header nav ul li a:hover, header nav ul li a:visited {
  display: inline-block;
}

header nav ul li:hover > a{
  color: #1D3C8E;
  font-weight: 400;
}

header nav ul li:hover > ul {
  display:block;
}

header nav ul li ul {
  font-size: .8em;
  background: rgba(224, 220, 220, 1);
  padding: 10px 0;
  text-align: center;
  display:none;
  width: 100%;
  position: absolute;
  top: 52px;
  left: 0px;
}


.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #BFBCDC;
}

.navbar-fixed a:hover, .navbar-fixed a:link {
  color: #FFF;
}

/******************************************
/* What we do
/*******************************************/

#whatWeDo {
  background-color: #1D3C8E;
  color: #FFF;
  padding: 8px 150px;
  text-align: center;
}

/******************************************
/* Features
/*******************************************/

#features {
  padding: 12px;
}

#features div {
  width: 322px;
  height: 322px;
  float: left;
  margin-right: 12px;
}

#features div.last {
  margin-right: 0;
}

#mobile, #sales, #hr, #communication {
  position: relative;
}

.disappear {
  position: absolute;
  width: 100%;
}


/*#features div img {
}
*/

.featureHidden {
   color: #FFF;
   text-align: center;
   padding: 10px;
   height: 100px;
   position: absolute;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.featureHidden a:link, .featureHidden a:hover, .featureHidden a:active, .featureHidden a:visited {
  color: #FFF;
}

/******************************************
/* Call to Action
/*******************************************/

#callToAction {
  background-color: #6EA1BE;
  padding: 20px;
  text-align: center;
}

#callToAction button {
  border: 1px solid #FFF;
  border-radius: 3px;
  background-color: #6EA1BE;
  color: #FFF;
  font-size: 26px;
  padding: 8px;
  margin: 0 auto;
}

#partnerLogos{
  color: #000;
  text-align: center;
}

/******************************************
/* Main
/*******************************************/

.main {
  padding: 30px;
  color: #000;
  font-size: 1.2em;
}

.main p:first-child:first-letter, span.firstcharacter { 
  color: #0C153C; 
  font-size: 2em; 
  line-height: 1.3em; 
}

/******************************************
/* Contact
/*******************************************/

#contact {
  padding: 30px;
  color: #000;
}

#contact h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#contactForm {
  width: 50%;
  padding: 15px;
  margin: 30px;
  display: inline-block;
  border: 2px solid #bab4b4;
  border-radius: 10px;
}

#location {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}


/******************************************
/* Form
/*******************************************/
form {
  color: #000;
  margin-bottom: 80px;
  margin: 0 auto;
}

form label {
  display: inline-block;
  width: 150px;
}

form input, form select {
  border: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #000;
  border-right: none;
  padding-bottom: 8px;
  width: 400px;
  outline: none;
  margin-left: 10px;
}

form textarea {
  margin-top: 25px;
}

form input, form textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(157, 169, 255, 1);
  border: 1px solid rgba(157, 169, 255, 1);
}

form input[type=submit] {
  background-color: #0C153C;
  color: #FFF;
  padding: 20px 0;
  border-bottom: 0;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  margin: 10px 0;
}

.form-row {
  margin: 8px;
}

/******************************************
/* Contact Information
/*******************************************/

#contactInfo {
  background-color: #0C153C;
  color: #FFF;
  padding: 20px;
}

#contactInfo div {
  text-align: center;
  width: 436px;
  float: left;
  border-right: 2px solid #FFF;
  height: 259px;
}

#contactInfo div.last {
  border-right: none;
}

/******************************************
/* Footer
/*******************************************/

footer {
  background-color: #000;
  color: #FFF;
  float: left;
  width: 100%;
}

footer div#copyright {
  font-size: 14px;
  float: left;
  width: 25%;
  padding: 36px;
}

footer nav {
  width: 40%;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  float: right;
  margin-right: 35px;
}

footer nav ul li {
  font-size: 14px;
  padding-left: 40px;
  float: left;
  padding-top: 16px;

}

footer nav ul li:first {
  padding-left: 0;
}

/******************************************
/* Media Queries
/*******************************************/

@media screen and (max-width: 1200px){

  header nav {
    font-size: 1em;
  }

  #features div {
  width: 280px;
  height: 280px;
  }

  #features div img {
  width: 100%;
  }

  .featureHidden {
   top: 701px; 
  }

  #contactInfo div {
  width: 381px;
  }

  
}

@media screen and (max-width: 992px){

  header nav ul {
    padding: 0;
    margin: 0;
    width: 75%;
    font-size: .9em;
    vertical-align: middle;
  }

  nav ul li {
    padding-left: 0;
  }

  header nav ul li ul {
    top: 70px;
  }

  .navbar-fixed {
    height: 85px;
    vertical-align: top;
  }

  #features div {
    width: 455px;
    height: 455px;
    margin: 10px 10px 10px 10px;
  }

  .featureHidden {
    top: -10px;
    left: -10px;
  }

  form input, form select {
    width: 242px;
  }

  form textarea {
    margin-top: 25px;
    width: 100%;
  }

  #contactInfo div {
      width: 311px;
      height: 260px;
  }

  #contactInfo div h2 {
    font-size: 1.2em;
  }

  #contactInfo div p {
    font-size: .9em;
  }

  footer div#copyright {
    width: 30%;
  }

  footer nav {
    width: 50%;
  }

}
